body {
    margin: 0;
}
/* Insignia HTML Nivel 1:  Aplique estilos simples de CSS: cores, fontes e tamanhos. */
.conteudo-centralizado {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    background-color: rgb(247, 203, 255);
}

.container-login {
    display: flex;
    flex-direction: row;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

button {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.login-principal {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-esquerdo{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
